@import 'highlight.js/styles/github.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
    @apply font-body antialiased;
}

body {
    overflow-y: scroll;
}

[x-cloak] {
    display: none;
}

.search {
    @apply rounded border-slate-400 outline-0 text-sm text-slate-700;
}

.btn-search {
    @apply ml-1 text-sm fill-slate-500;
}

.footer-menu {
    display: grid;
    @apply grid-cols-2;
    gap: 10px 20px;
}

a.active {
    border-bottom: 1px solid #000;
}

a.link, a {
    @apply text-green underline;
}

a.link:visited, a:visited {
    @apply text-gray-400;
}

a.link:hover, a:hover {
    @apply text-secondary;
}

.container {
    max-width: 600px;

    @screen sm {
        max-width: 700px;
    }

    @screen md {
        max-width: 850px;
    }
}
