@import 'boxicons';
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
    @apply font-body antialiased;
}

body {
    overflow-y: scroll;
}

[x-cloak] {
    display: none;
}

.footer-menu {
    display: grid;
    @apply grid-cols-2;
    gap: 10px 20px;
}

a.active {
    border-bottom: 1px solid #000;
}

.container {
    max-width: 600px;

    @screen sm {
        max-width: 700px;
    }

    @screen md {
        max-width: 850px;
    }
}
