@import 'boxicons';
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html {
    @apply font-body antialiased;
}

body {
    overflow-y: scroll;
}

[x-cloak] {
    display: none;
}

.container {
    max-width: 600px;

    @screen sm {
        max-width: 700px;
    }

    @screen md {
        max-width: 850px;
    }
}
